### Java template
*.class

# intellij
*.iml
.idea/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

dependency-reduced-pom.xml
pom.xml.releaseBackup
release.properties

# emacs
*~
.ensime
.ensime_cache/

# sbt
target/
project/project/
project/target/
